.sectionContainer {
  width: 100%;
  min-height: 280px;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionHeader {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sectionBody {
  width: 100%;
  min-height: 240px;
  align-items: center;
}

.sectionBody .peopleContainer {
  width: auto;
  height: 200px;
  display: inline-flex;
  align-items: center;
}
